{% extends 'base.html' %}

{% block content %}

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h1>This is about us</h1>
		<p>This is about us. This is something interesting or not whoever cares bla bla</p>
		<p>This is about us. This is something interesting or not whoever cares bla bla</p>
		<p>This is about us. This is something interesting or not whoever cares bla bla</p>
		<p>This is about us. This is something interesting or not whoever cares bla bla</p>
		<p>This is about us. This is something interesting or not whoever cares bla bla</p>
	</div>
</div>

{% endblock %}